@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 1.6rem;
    height: 1.6rem;
    background: #000000;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 150vh;
    background: linear-gradient(180deg, #000000 35.82%, #A32EFF 100%);
    z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 4.3rem;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    padding-left: 4rem;
    z-index: 9999;
    color: #fff;
}

header.sticky {
    padding-top: 2rem;
    background: #ffffff;
}

.nav-links ul {
    display: flex;
    list-style: none;
    position: relative;
    justify-content: center;
    align-items: center;
}

.nav-links ul li {
    padding-left: 2rem;
    padding-right: 5rem;
    position: relative;
}

.nav-links ul li a {
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 0.4rem;
    background: #8F00FF;
    display: block;
    margin: auto;
    transition: width 0.2s ease-in-out;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.logo {
    position: relative;
    right: 10rem;
    bottom: 1rem;
}

.main {
    margin-top: 13rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.img-group {
    width: 135rem;
    height: 24rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-store {
    background: #fff;
    height: 31rem;
    width: 135rem;
    border-radius: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}

.head-store {
    font-size: 2.6rem;
    color: #000;
}

.card {
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
}

.box-img {
    width: 15rem;
    width: 15rem;
    transition: transform .3s ease-out;
}

.box-img:hover {
    transform: scale(1.08);
}

.name {
    color: #000;
    font-size: 1.8rem;
}